/*15153b*  01b0c7*/

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a9d3ea;
    transition: all 1.5s ease;
}

#toggle {
    display: none;
}

#label_toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: #15153b;
    cursor: pointer;
}

.dark{
    background-color: #15153b;
    transition: all 1.5s ease;
}
h1 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    text-shadow: 0 0 15px #ffff00;
    color: #00b5cc;
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    animation: title 3s infinite;
}

@keyframes title {
    50% {
        text-shadow: 0 0 15px #00b5cc;
        color: #ffff00;
    }
}

.character_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.character_card {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    background: white;
    border-radius: 10px;
    box-shadow:4px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    flex: 0 1 320px;
    transition: all 0.3s;
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.character_info {
    padding: 20px;
}

#site-footer{
    background:transparent;
    padding:1.25rem 0
}
.footer-content{
    color:var(--muted);
    text-align:center;
    font-size:0.9rem;
}